@use '/src/assets/styles/mixins.scss' as *;

.cover {
	@include section-margin-top-vw(28px, 35px);
	background: url('/src/assets/images/cover/cover.png') no-repeat center bottom / 60rem;

	&__container {
		height: 560px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;

		text-align: center;
	}

	&__title {
		@include font-size-vw(32px, 56px);
		font-weight: 700;
		text-transform: uppercase;
	}

	&__title-accent {
		color: #0560ab;
		white-space: nowrap;
	}

	&__description {
		margin-top: 1rem;
		@include font-size-vw(18px, 26px);
		font-weight: 400;
	}

	&__button {
		margin-top: 1.5rem;
	}

	@media screen and (max-width: 640px) {
		background: url('/src/assets/images/cover/cover-m.png') no-repeat center bottom;
	}

	@media screen and (max-width: 280px) {
		&__title-accent {
			white-space: normal;
		}
	}
}
