@use '/src/assets/styles/mixins.scss' as *;

.advantages {
	@include section-margin-top-vw(60px, 80px);

	&-wrapper {
		@include section-margin-top-vw(20px, 30px);
		display: flex;
		justify-content: space-between;
		gap: 1.25rem;
	}

	&__title {
		@include font-size-vw(22px, 30px);
		font-weight: 500;
	}

	&__risk {
		@include padding-yx-vw(30px, 40px, 20px, 30px);
		background:
			url('/src/assets/images/advantages/risk-bg.png') no-repeat bottom -9rem right -4rem / 18rem,
			#e4f2ff;
		border-radius: 30px;
		width: 450px;
		display: flex;
		flex-direction: column;
		gap: clamp(20px, 4vw, 40px);

		&__title {
			@include font-size-vw(18px, 28px);
			font-weight: 500;
		}

		&-item {
			& > img {
				height: 36px;
				width: auto;
			}

			&__text {
				@include font-size-vw(16px, 19px);
				line-height: 100%;

				& > span {
					color: #105fd3;
				}
			}
		}
	}

	&__risk-items {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__risk-item {
		display: flex;
		align-items: center;
		gap: 0.875rem;
	}

	&__estimation {
		position: relative;
		width: 700px;
		display: flex;
		flex-direction: column;
		gap: clamp(20px, 4vw, 40px);
		@include padding-yx-vw(30px, 40px, 20px, 30px);
		background:
			url('/src/assets/images/advantages/estimation-bg.png') no-repeat bottom -12rem right / 15rem,
			#dcf8f2;
		border-radius: 30px;

		&::before {
			content: url('/src/assets/images/advantages/estimation-money.png');
			position: absolute;
			top: -2rem;
			right: 8rem;
		}

		&__title {
			@include font-size-vw(18px, 28px);
			font-weight: 500;
			line-height: 100%;
		}

		&-item {
			@include font-size-vw(16px, 19px);
			list-style: disc;

			&::marker {
				color: #0fd7ac;
				font-size: 22px;
			}
		}
	}

	&__estimation-items {
		max-width: 320px;
		padding-left: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: clamp(15px, 3.5vw, 35px);
	}

	@media screen and (max-width: 768px) {
		&-wrapper {
			flex-direction: column;
		}

		&__risk {
			width: 100%;
			min-height: 360px;
			height: auto;
			background:
				url('/src/assets/images/advantages/risk-bg.png') no-repeat bottom -9rem right -2rem / 15rem,
				#e4f2ff;
		}

		&__estimation {
			width: 100%;
			min-height: 400px;
			height: auto;
			background:
				url('/src/assets/images/advantages/estimation-bg.png') no-repeat bottom -10rem right / 8rem,
				#dcf8f2;
			&::before {
				display: none;
			}
		}
	}
}
