.button--green {
	min-height: 58px;
	width: min(100%, 210px);

	font-size: 20px;
	font-weight: 700;
	color: #fff;
	word-wrap: break-word;

	background-color: #23CC50;
	border-radius: 10px;
	padding: 10px;

	&:hover {
		background-color: #00BC32;
	}

	&:active {
		background-color: #01AA2E;
	}

	&:disabled {
		background-color: #00BC32;
		opacity: 0.5;
	}
}

.button--blue {
	min-height: 58px;
	width: min(100%, 160px);

	font-size: 20px;
	font-weight: 700;
	color: #fff;
	word-wrap: break-word;

	background-color: #0560AB;
	border-radius: 10px;
	padding: 10px;

	&:hover {
		background-color: #1080DC;
	}

	&:active {
		background-color: #1080DC;
	}

	&:disabled {
		background-color: #1080DC;
		opacity: 0.5;
	}
}
