// RESET
@use './reset.scss';

// TAILWIND
@tailwind base;
@tailwind components;
@tailwind utilities;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	font-family: 'Inter', sans-serif;
}

.container {
	width: min(100%, 1200px);
	margin: 0 auto;
	padding: 0 16px;
}

.hidden {
	display: none;
}

.block {
	display: block;
}
