// FONTS
@mixin font-size-vw($min, $max) {
	$vw-size: calc($max / 10px);
	font-size: clamp($min, #{$vw-size}vw, $max);
}

// SECTIONS
@mixin section-margin-top-vw($min, $max) {
	$vw-size: calc($max / 10px);
	margin-top: clamp($min, #{$vw-size}vw, $max);
}

// PADDINGS
@mixin padding-yx-vw($min-y, $max-y, $min-x, $max-x) {
	$vw-size-y: calc($max-y / 10px);
	$vw-size-x: calc($max-x / 10px);
	padding: clamp($min-y, #{$vw-size-y}vw, $max-y) clamp($min-x, #{$vw-size-x}vw, $max-x);
}

